
# Django
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles
/cache/
/logs/

# Virtual Environment
venv/
env/

# Environment Variables
.env
# dd
# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db


# json
credentials/
  *.json

# md
CLAUDE.md